.main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 10px;
}

.all-main {
  display: flex;
  flex-direction: row;
  padding-top: 60px;
  padding-left: 10px;
}
body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  color: #5f6368;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "width" 100;
}

.nav {
  display: flex;
  border: 1px #ccc;
  border-bottom: 1px solid #e0e0e0;
  justify-content: space-between;
  padding: 4px;
  padding-top: 0;
  padding-left: 10px;
  position: fixed;
  background-color: white;
}

.sidebar {
  width: 25px;
  height: 25px;
  padding: 15px;
  fill: #5f6368;
}
.sidebar-items {
  padding-top: 0;
  display: flex;
  flex-direction: column;
  margin: 5px 120px 5px 0;
  width: 55px;
  transition: width 0.3s ease;

  /* margin-right: 50px; */

  /* background-color: azure; */
}

.items {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-self: start;
  justify-items: center;
  align-items: center;
  /* padding-left:10px ; */
  width: 100%;
}
.items a {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-self: start;
  align-items: center;
  /* padding-top: 8px;
  padding-bottom: 8px; */
  margin: 8px;
  width: 100%;
  cursor: pointer;
}
.items-label {
  padding-left: 15px;
  padding-right: 15px;
  color: #000;
  font-size: 14px;
  opacity: 0;
  display: none;
}
.items-icon {
  height: 20px;
  width: 20px;
  display: block;
  /* max-width: 100%;
  max-height: 100%; */
  /* padding-right: 100px; */
}

.logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.img-logo {
  rotate: 180deg;
  width: 35px;
  height: 35px;
}

.text-logo {
  color: #5f6368;
  font-size: 22px;
  padding: 4px;
}

#note {
  border: none;
  padding-left: 10px;
  padding-top: 10px;
  /* margin: 20px; */
  transition: all 0.3s ease;
  background: white;
}

#note input {
  transition: display 0.3s ease;
  overflow: hidden;
  background-color: white;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: bold;
}
#note textarea {
    width: 100%;
  border: none;
  outline: none;
  resize: none;
  font-family: inherit;
  font-size: 14px;
  overflow-y: auto;
  max-height: 150px; /* Limit growth */
  box-sizing: border-box;
}
.note-hidden {
  display: none;
}

.element {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 600px;
  border-radius: 8px;
  gap: 20px;
  /* border: 1px solid; */
  box-shadow: 0px 0px 5px 3px #ccc;
  margin: 10px 0 50px 0;
  padding: 2px;
}

.result {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  transition: 1s ease-in-out;
}

.allresult {
  display: block;
  overflow: hidden;
  min-width: 200px;
  max-width: 200px;
  max-height: 300px;
  min-height: 70px;
  height: 70px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
}

.searchbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 600px;
  padding-left: 100px;
  padding-top: 5px;
}

input {
  border: none;
  outline: none;
  border-color: transparent;
  width: 400px;
  height: 40px;
  background-color: #f1f3f4;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.search {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 1;
  align-items: center;
  align-self: space-between;
  height: 50px;
  width: 500px;
  background-color: #f1f3f4;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;

  border-radius: 10px;
}

.allbutton {
  /* padding-left: 200px; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.button {
  display: flex;
  line-height: 0;
  width: 50px;
  border: none;
  cursor: pointer;
  overflow: hidden;
  margin: 0;
}

img {
  display: block;
  position: relative;
  object-fit: contain;
  align-items: center;
  justify-content: center;
  color: #5f6368;
  width: 50%;
  height: 50%;
  padding: 10px;
}

.button:hover {
  fill: #000;
  background-color: #ccc;
  color: #000;
  border-radius: 50%;
  /* transition-delay: 2s ; */
}
.sidebar:hover {
  background-color: #ccc;
  border-radius: 50%;
}

.search.clicked {
  background-color: transparent;
  box-shadow: 0px 0px 2px 1px #ccc;
}
#input-search {
  padding: 8px;
}

input::placeholder {
  font-family: "Roboto", sans-serif;
  /* font-optical-sizing: auto; */
  color: #5f6368;
  font-weight: 200;
  font-size: 16px;
  font-variation-settings: "width" 100;
}

.items:hover {
  background-color: #e0e0e0;
  border-radius: 50px;
}
.items.activate {
  background-color: #feefc3;
  border-radius: 50%;
}

.sidebar-items.activate {
  width: 250px;
  transition: width 0.3s ease;
}

.sidebar-items.activate .items.activate {
  background-color: #feefc3;
  border-radius: 0px 50px 50px 0px;
}

.sidebar-items.activate .items:hover {
  border-radius: 0px 50px 50px 0px;
}

.sidebar-items.activate .items-label {
  display: block;
  opacity: 1;
  transition: display 0.3s ease;
}
